@* <div class="details">
    <h1>Manage courseModel</h1>
    <EditForm FormName="courseModelForm" Model="courseModel" id="basicInfo" method="post" novalidate class="basic-info">
        <h4>Basic Info</h4>
        <div class="group">
            <div class="label-input">
                <label>Title</label>
                <span asp-validation-for="@Model.FirstName"></span>
                <InputText @bind-Value="courseModel.courseModelTitle" placeholder="Enter title" class="input" />
            </div>
            <div class="label-input">
                <label>Subtitle</label>
                <span asp-validation-for="@Model.FirstName"></span>
                <InputText @bind-Value="courseModel.Subtitle" placeholder="Enter subtitle" class="input" />
            </div>
            <div class="label-input">
                <label>Author</label>
                <span asp-validation-for="@Model.LastName"></span>
                <InputText @bind-Value="courseModel.Author" placeholder="Enter author" class="input" />
            </div>
        </div>
        <div class="group">
            <div class="label-input">
                <label>Price</label>
                <span asp-validation-for="@Model.Email"></span>
                <InputText @bind-Value="courseModel.OldPrice" placeholder="Enter price" class="input" />
            </div>
            <div class="label-input">
                <label>Discount price</label>
                span asp-validation-for="@Model.Phone"></span>
                <InputText @bind-Value="courseModel.NewPrice" placeholder="Enter discount price" class="input" />
            </div>
        </div>
        <div>
            <label>Description</label>
            <InputTextArea @bind-Value="courseModel.Description" class="input" placeholder="Add a description..." />
        </div>
        <div class="group mt-4">
            <div class="label-input">
                <label for="uploadFile">courseModel image</label>
                <InputFile @bind-Value="courseModel.BackgroundImage" id="uploadFile" />
            </div>
        </div>

        <h4>What you'll learn</h4>
        <h5 class="message @((Model.ErrorMessage != "Success!") ? "error" : "success")">@Model.ErrorMessage</h5>
       <div class="group">
            <div class="label-input">
                <label>Learn #1</label>
                <span asp-validation-for="@Model.FirstName"></span>
                <InputText @bind-Value="courseModel.WhatYouLearns.d"  placeholder="Enter learn #1" class="input" />
            </div>
            <div class="label-input">
                <label>Learn #2</label>
                <span asp-validation-for="@Model.LastName"></span>
                <InputText placeholder="Enter learn #2" class="input" />
            </div>
        </div>
        <div class="group">
            <div class="label-input">
                <label>Learn #3</label>
                <span asp-validation-for="@Model.Email"></span>
                <InputText placeholder="Enter learn #3" class="input" />
            </div>
            <div class="label-input">
                <label>Learn #4</label>
                span asp-validation-for="@Model.Phone"></span>
                <InputText placeholder="Enter learn #4" class="input" />
            </div>
            <div class="label-input">
                <label>Learn #5</label>
                span asp-validation-for="@Model.Phone"></span>
                <InputText placeholder="Enter learn #5" class="input" />
            </div>
        </div>

        <h4>courseModel includes</h4>
        <h5 class="message @((Model.ErrorMessage != "Success!") ? "error" : "success")">@Model.ErrorMessage</h5>
       <div class="group">
            <div class="label-input">
                <label>Amount of hours</label>
                <span asp-validation-for="@Model.FirstName"></span>
                <InputText @bind-Value="courseModel.Duration" placeholder="Enter hours of content" class="input" />
            </div>
            <div class="label-input">
                <label>Amount of articles</label>
                <span asp-validation-for="@Model.LastName"></span>
                <InputText @bind-Value="courseModel.Includes." placeholder="Enter article amount" class="input" />
            </div>
        </div>
        <div class="group">
            <div class="label-input">
                <label>Downloadable resources</label>
                <span asp-validation-for="@Model.Email"></span>
                <InputText placeholder="Enter resource amount" class="input" />
            </div>
        </div>
        <div class="address-lines">
            <div class="label-input">
                <input type="checkbox" class="checkbox">
                <label>Lifetime access</label>
            </div>
            <div class="label-input">
                <input type="checkbox" class="checkbox">
                <label>Completion certificate</label>
            </div>
        </div>

        <h4>Program details</h4>
        <h5 class="message @((Model.ErrorMessage != "Success!") ? "error" : "success")">@Model.ErrorMessage</h5>
       <div class="group">
            <div class="label-input">
                <label>Detail #1 Title</label>
                <InputText @bind-Value="courseModel.ProgramDetailsTitle" placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #1 description</label>
            <InputTextArea @bind-Value="courseModel.ProgramDetailsDescription" class="input program-description" placeholder="Add a description..." />
        </div>

        <div class="group">
            <div class="label-input">
                <label>Detail #2 Title</label>
                <InputText @bind-Value="courseModel.ProgramDetailsTitle" placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #2 description</label>
            <InputTextArea @bind-Value="courseModel.ProgramDetailsDescription" class="input program-description" placeholder="Add a description..." />
        </div>

        <div class="group">
            <div class="label-input">
                <label>Detail #3 Title</label>
                <InputText placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #3 description</label>
            <InputTextArea class="input program-description" placeholder="Add a description..."/>
        </div>

        <div class="group">
            <div class="label-input">
                <label>Detail #4 Title</label>
                <InputText placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #4 description</label>
            <InputTextArea class="input program-description" placeholder="Add a description..."/>
        </div>

        <div class="group">
            <div class="label-input">
                <label>Detail #5 Title</label>
                <InputText placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #5 description</label>
            <InputTextArea class="input program-description" placeholder="Add a description..."/>
        </div>

        <div class="group">
            <div class="label-input">
                <label>Detail #6 Title</label>
                <InputText placeholder="Enter title" class="input" />
            </div>
        </div>
        <div>
            <label>Detail #6 description</label>
            <InputTextArea class="input program-description" placeholder="Add a description..."/>
        </div>


        <input type="hidden" asp-for="@Model.UserId" />
        <div class="buttons">
            <button class="btn-gray" type="reset">Cancel</button>
            <button class="btn-theme" type="submit">Save changes</button>
        </div>
    </EditForm>
</div>

@code {
    public CourseModel courseModel = new courseModel();
    public ProgramDetailsModel detailsModel = new ProgramDetailsModel();


    public class courseModelEntity
    {
        public int Id { get; set; }
        public string courseModelTitle { get; set; } = null!;
        public string Subtitle { get; set; } = null!;
        public string Reviews { get; set; } = null!;
        public string Likes { get; set; } = null!;
        public string Duration { get; set; } = null!;
        public string Author { get; set; } = null!;
        public string Description { get; set; } = null!;
        public string NewPrice { get; set; } = null!;
        public string OldPrice { get; set; } = null!;
        public string AuthorDescription { get; set; } = null!;
        public string Subscribers { get; set; } = null!;
        public string Followers { get; set; } = null!;
        public string AuthorIcon { get; set; } = null!;
        public string AuthorImage { get; set; } = null!;
        public string BackgroundImage { get; set; } = null!;
        public string LikesPercent { get; set; } = null!;

        public ICollection<ApplicationUser>? Users { get; set; }
        public ICollection<TagEntity>? Tags { get; set; } = null!;
        public ICollection<WhatYouLearnEntity> WhatYouLearns { get; set; } = null!;
        public ICollection<IncludesEntity> Includes { get; set; } = null!;
        public ICollection<ProgramDetailsEntity> ProgramDetails { get; set; } = null!;
    }

    public class CourseModel
    {
        public int Id { get; set; }
        public string courseModelTitle { get; set; } = null!;
        public List<string> Tags { get; set; } = [];
        public string Subtitle { get; set; } = null!;
        public string Reviews { get; set; } = null!;
        public string Likes { get; set; } = null!;
        public string Duration { get; set; } = null!;
        public string Author { get; set; } = null!;
        public string Description { get; set; } = null!;
        public List<string> WhatYouLearn { get; set; } = [];
        public List<string> Includes { get; set; } = [];
        public string NewPrice { get; set; } = null!;
        public string OldPrice { get; set; } = null!;
        public List<string> ProgramDetailsTitle { get; set; } = [];
        public List<string> ProgramDetailsDescription { get; set; } = [];
        public string AuthorDescription { get; set; } = null!;
        public string Subscribers { get; set; } = null!;
        public string Followers { get; set; } = null!;
        public string AuthorIcon { get; set; } = null!;
        public string AuthorImage { get; set; } = null!;
        public string BackgroundImage { get; set; } = null!;
        public string LikesPercent { get; set; } = null!;
    }

    public class IncludesEntity
    {
        public int Id { get; set; }
        public string Description { get; set; } = null!;
        public ICollection<courseModelEntity> courseModels { get; set; } = null!;
    }

    public class ProgramDetailsEntity
    {
        public int Id { get; set; }
        public string Title { get; set; } = null!;
        public string Description { get; set; } = null!;
        public ICollection<courseModelEntity> courseModels { get; set; } = null!;
    }

    public class TagEntity
    {
        public int Id { get; set; }
        public string Description { get; set; } = null!;
        public ICollection<courseModelEntity>? courseModels { get; set; }
    }

    public class WhatYouLearnEntity
    {
        public int Id { get; set; }
        public string Description { get; set; } = null!;
        public ICollection<courseModelEntity> courseModels { get; set; } = null!;
    }

    public class ProgramDetailsModel
    {
        public string DetailTitle { get; set; } = null!;
        public string DetailDescription { get; set; } = null!;
    }
}
 *@