@page "/"
@using Newtonsoft.Json
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<section id="management">
    <div class="container">
        <div class="list">
            <h3>Users</h3>
            <div class="menu">
                <button class="btn-theme" @onclick="() => ShowUsers()">@buttonText</button>
                @foreach (var user in users)
                {
                    <a href="#details">
                        <button @onclick="() => GetUserInfo(user.Id)" class="@setClass btn-white">@user.FirstName @user.LastName</button>
                    </a>
                }
            </div>
        </div>

        <div id="details" class="details">
            <h1>Manage user</h1>
            <EditForm FormName="userForm" Model="editingUser" OnValidSubmit="() => OnValidSubmit(editingUser)" id="addressInfo" method="post" class="address" novalidate>
                <h4>Details</h4>
                    <div class="address-lines">
                        <div class="label-input">
                            <label>First name</label>
                        <InputText @bind-Value="editingUser.FirstName" class="input" placeholder="Enter first name" disabled="@(DisableInputs)" />
                        </div>
                        <div class="label-input">
                            <label>Last name</label>
                        <InputText @bind-Value="editingUser.LastName" class="input" placeholder="Enter last name" disabled="@(DisableInputs)" />
                        </div>
                    </div>
                    <div class="address-lines">
                        <div class="label-input">
                        <InputCheckbox @bind-Value="editingUser.IsAdmin" class="checkbox" disabled="@(DisableInputs)" />
                            <label>Admin</label>
                        </div>
                        <div class="label-input">
                        <InputCheckbox @bind-Value="editingUser.IsSubscribed" class="checkbox" disabled="@(DisableInputs)" />
                            <label>Newsletter</label>
                        </div>
                    </div>
                    <p>@StatusMessage</p>
                    <div class="buttons">
                        <button type="reset" class="btn-gray" disabled="@(DisableInputs)">Cancel</button>
                        <button type="submit" class="btn-theme" disabled="@(DisableInputs)">Save changes</button>
                    </div>
            </EditForm>

            <div class="savedCourses">
                <h4>User saved courses</h4>
                @if (courses != null)
                {
                    @foreach (var course in courses)
                    {
                        <div class="courseInfo">
                            <div class="info">
                                <p class="title">@course.Title</p>
                                <p class="author">
                                    By @foreach (var author in course.Authors)
                                    {
                                        @author.Name
                                    }
                                </p>
                            </div>
                            <button class="btn-red" @onclick="(() => RemoveCourse(course.Id))">Remove</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

@code {
    public string StatusMessage { get; set; } = null!;
    private List<ApplicationUser> users = new List<ApplicationUser>();
    private List<CourseModel> courses = new List<CourseModel>();


    public ApplicationUser user = new ApplicationUser();
    public ApplicationUser editingUser = new ApplicationUser();
    public string setClass = "hide";
    public string buttonText = "Show list of users";
    public bool DisableInputs { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        users = await _context.Users.ToListAsync();
    }

    public void ShowUsers()
    {
        if (setClass == "")
        {
            setClass = "hide";
            buttonText = "Show list of users";
        }
        else
        {
            setClass = "";
            buttonText = "Hide list of users";
        }
    }

    public async Task GetUserInfo(string userId)
    {
        courses.Clear();
        try
        {
            user = await _context.Users.FirstOrDefaultAsync(x => x.Id == userId);
            editingUser.FirstName = user.FirstName;
            editingUser.LastName = user.LastName;
            editingUser.IsAdmin = user.IsAdmin;
            editingUser.IsSubscribed = user.IsSubscribed;

            var courseList = _context.UserCourses.Where(x => x.UserId == userId).ToList();
            if (courseList != null)
            {
                foreach (var course in courseList)
                {
                    var result = await GetSingleCourse(course.CourseId);
                    courses.Add(result);
                }
            }

            StatusMessage = "";
            DisableInputs = false;
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }

    private async Task OnValidSubmit(ApplicationUser editingUser)
    {
        try
        {
            if (!string.IsNullOrEmpty(editingUser.FirstName) && editingUser.FirstName.Length >= 2 &&
                !string.IsNullOrEmpty(editingUser.LastName) && editingUser.LastName.Length >= 2)
            {
                user.FirstName = editingUser.FirstName;
                user.LastName = editingUser.LastName;
                user.IsAdmin = editingUser.IsAdmin;
                user.IsSubscribed = editingUser.IsSubscribed;

                _context.Users.Update(user);
                await _context.SaveChangesAsync();
                StatusMessage = "User was updated successfully.";
            }
            else
            {
                StatusMessage = "Both name inputs needs to have at least 2 characters.";
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
            StatusMessage = "User was not updated, something went wrong.";
        }
    }

    public async Task<CourseModel> GetSingleCourse(string id)
    {
        if (HttpContextAccessor.HttpContext!.Request.Cookies.TryGetValue("AccessToken", out var token))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        else
        {
            await CookieService.GetToken(user.Id, user.Email!);
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }

        var query = new GraphQLQuery { Query = $"query {{ getCourseById(id: \"{id}\") {{ id title authors {{ name }} }} }}" };
        var response = await Http.PostAsJsonAsync("https://courseprovider-silicon-hl.azurewebsites.net/api/graphql?code=7HxNcs9s7LTbK8xSkGVLN9W6v5XDgOJCcj_D31kwYSgGAzFu9L-qMg%3D%3D", query);

        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            var result = JsonConvert.DeserializeObject<RootObject>(jsonString);
            var course = result?.Data?.getCourseById;

            return course!;
        }
        return null!;
    }

    public async Task RemoveCourse(string courseId)
    {
        try
        {
            var existingUserCourse = await _context.UserCourses.FirstOrDefaultAsync(x => x.UserId == user.Id && x.CourseId == courseId);
            if (existingUserCourse != null)
            {
                _context.UserCourses.Remove(existingUserCourse);
                await _context.SaveChangesAsync();

                var course = courses.FirstOrDefault(x => x.Id == courseId);
                courses.Remove(course!);
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
            StatusMessage = "Course was not removed";
        }
    }

    public class CourseModel
    {
        public string Id { get; set; }
        public string Title { get; set; } 
        public List<AuthorObject> Authors { get; set; }
    }

    public class AuthorObject
    {
        public string Name { get; set; }
    }

    public class GraphQLQuery
    {
        public string Query { get; set; } = null!;
    }

    public class RootObject
    {
        public GetCoursesResponse Data { get; set; } = null!;
    }

    public class GetCoursesResponse
    {
        public CourseModel getCourseById { get; set; } = null!;
    }
}